div.notification {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 400;
  /*line-height: 1.5;*/
}

div.notification.error,
div.notification.success {
  color: #FAFAFA;
}

div.notification.error {
  background-color: #E57373;
}

div.notification.success {
  background-color: #81C784;
}

.login-form input, .create-form input {
  margin: 0px 5px;
}

.login-form button, .create-form button {
  margin: 5px 0;
}

.whoami button {
  margin: 0 5px;
}
