body {
  margin: 0;
}

div.main-content,
div.login-form {
  margin: 8px;
}

div.notification {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 400;
  /*line-height: 1.5;*/
}

div.notification.error,
div.notification.success {
  color: #FAFAFA;
}

div.notification.error {
  background-color: #E57373;
}

div.notification.success {
  background-color: #81C784;
}

nav.top-navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: lightgray;
}

nav.top-navbar > div {
  padding: 7px 0 7px 5px;
}

.login-form input,
.create-form input {
  margin: 0px 5px;
}

.login-form button,
.create-form button {
  margin: 5px 0;
}

.whoami button,
.blog button {
  margin: 0 5px;
}

.blog .remove-blog-btn {
  margin: 1px 0 0 0;
}

div.blog {
  padding: 5px 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

div.blog:first-child {
  margin-top: 5px;
}
