.notification {
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  background-color: lightgrey;
}

.success {
  color: green;
  border-color: darkgreen;
}

.failure {
  color: red;
  border-color: darkred;
}
