.notification {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

.success {
  color: white;
  background-color: #66BB6A;
}

.failure {
  color: white;
  background-color: #EF5350;
}
